.filter {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.btn {
  padding: 8px 16px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 8px;
  background-color: transparent;
}
