.technology {
  // max-width: 1456px;
  // width: 100%;
  min-height: 100vh;
  margin-top: 40px;
  padding: 0 64px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
