.burger {
  svg {
    cursor: pointer;
    display: block;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 0.3s;
  width: 320px;
  height: 100vh;
  background-color: rgba(41, 41, 41, 1);
  background-size: cover;
  z-index: 0;
  border-right: 1px solid rgba(145, 158, 171, 0.24);

  @media (min-width: 769px) and (max-width: 1279px) {
    width: 50%;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    width: 100%;
  }
}

.menu.open {
  left: 0;
}

.logoWrap {
  display: flex;
  align-items: center;
  height: 72px;
  margin-bottom: 26px;
  border-bottom: 1px solid rgba(145, 158, 171, 0.24);
  padding: 0 16px;

  svg {
    cursor: pointer;
  }

  @media (min-width: 769px) and (max-width: 1279px) {
    justify-content: space-between;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    justify-content: space-between;
  }
}

.logo {
  font-size: 36px;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 16px;
}

.homeLinkWrap {
  border-bottom: 1px solid white;
  margin-bottom: 16px;
  padding: 12px 16px;

  &:hover .linkHome {
    background-color: red;
  }
}

.linkHome {
  text-decoration: none;
  color: white;
  border-radius: 8px;
}

.activeLinkHome {
  background-color: black;
}

.link {
  text-decoration: none;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: transparent;

  &:hover {
    background-color: black;
  }
}

.activeLink {
  background-color: black;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.exitWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  border-top: 1px solid rgba(145, 158, 171, 0.24);
  padding: 16px;
  cursor: pointer;

  &:hover {
    background-color: black;
  }

  svg {
    width: 20px;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 8px;
  }
}
.exitText {
  font-size: 24px;
  letter-spacing: 1px;
  color: rgb(215, 10, 50);

  @media (min-width: 320px) and (max-width: 768px) {
    font-size: 20px;
  }
}
